<section class="page-menu">
  <ul class="page-menu__list">
    <li class="page-menu__item">
      <span class="page-menu__item-type">Post</span> <a href="#">Authentication</a>
    </li>
    <li class="page-menu__item">
      <span class="page-menu__item-type">Post</span> <a href="#">Authentication</a>
    </li>
    <li class="page-menu__item">
      <span class="page-menu__item-type">Post</span> <a href="#">Authentication</a>
    </li>
    <li class="page-menu__item">
      <span class="page-menu__item-type">Post</span> <a href="#">Authentication</a>
    </li>
    <li class="page-menu__item">
      <span class="page-menu__item-type">Post</span> <a href="#">Authentication</a>
    </li>
  </ul>
</section>