<main class="page">
  <page-menu-component></page-menu-component>

  <div class="page__content">
    <div class="page__content-header content-header">
      <h1 class="content-header__title">Yoloads API Affiliate Documentation</h1>

      <div class="content-header__row">
        <h3 class="content-header__subtitle">API Resource URL:</h3>
        <p class="content-header__text">https://api.traffle.co</p>
      </div>

      <div class="content-header__row">
        <h3 class="content-header__subtitle">Credentials</h3>
        <p class="content-header__text">Make sure you have an API Credentials: username, password;</p>
      </div>

      <div class="content-header__row">
        <h3 class="content-header__subtitle">API Functionality:</h3>
        <p class="content-header__text">Authentication, Create Lead, View Leads, View Deposits</p>
      </div>

      <div class="content-header__row">
        <h3 class="content-header__subtitle">Please Note:</h3>
        <p class="content-header__text">All API Calls are POST HTTP Calls to the same API URL and All Responses are JSON</p>
      </div>
    </div>

    <div class="page__content-blocks">
      <block-component></block-component>
    </div>
  </div>


</main>
